SECRET_KEY=your_django_secret_key
DEBUG=False
ALLOWED_HOSTS=yourdomain.com,probank.onrender.com
DATABASE_URL=postgres://user:password@hostname:port/dbname
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Email (Resend)
RESEND_API_KEY=re_xxxxxxxx
DEFAULT_FROM_EMAIL=ProBank <noreply@yourdomain.com>
ADMIN_NOTIFICATION_EMAIL=admin@yourdomain.com
